#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'PingFangSC-Regular','Source Han Sans CN','Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.56;
    color: #F9FAFA;
}

.app-container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}